In [4]:

import mysql.connector
import pandas as pd
# Replace 'your_username', 'your_password', 'your_host', and 'your_database' with actual credentials
connection = mysql.connector.connect(
user='root',
password='JATIN@5284',
host='localhost',
database='ecommerce'
)
# Create a cursor object to execute SQL queries
cursor = connection.cursor()
# Query data from the 'customer' table
cursor.execute('SELECT * FROM customer')
#After fetching data from the database we are storing it into Pandas DataFrame
customer_data = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in
cursor.description])
# Query data from the 'product' table
cursor.execute('SELECT * FROM product')
product_data = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in
cursor.description])
# Query data from the 'order_details' table
cursor.execute('SELECT * FROM order_details')
order_data = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in
cursor.description])
#printing first 5 records from each table
print(customer_data.head())
print(product_data.head())
print(order_data.head())

  customer_id           name       city                      email  \
0        C001    Aarav Patel     Mumbai    aarav.patel@example.com
1        C002  Saanvi Sharma      Delhi  saanvi.sharma@example.com
2        C003   Vivaan Gupta  Bengaluru   vivaan.gupta@example.com
3        C004     Isha Reddy  Hyderabad     isha.reddy@example.com
4        C005    Arjun Kumar    Chennai    arjun.kumar@example.com

       phone_no             address  pin_code
0  987-654-3210     12 Marine Drive    400020
1  876-543-2109  45 Connaught Place    110001
2  765-432-1098     78 Brigade Road    560001
3  654-321-0987    23 Banjara Hills    500034
4  543-210-9876     56 Nungambakkam    600034
  product_id          product_name         category   sub_category  \
0       P001            Smartphone      Electronics  Mobile Phones
1       P002                Laptop      Electronics      Computers
2       P003          Coffee Maker  Home Appliances        Kitchen
3       P004  Bluetooth Headphones      Electronics          Audio
4       P005         Running Shoes         Footwear         Sports

   original_price  selling_price  stock
0          299.99         249.99     50
1          799.99         749.99     30
2           89.99          79.99    100
3          129.99          99.99     75
4           59.99          49.99    200
   order_id customer_id product_id  quantity  total_price payment_mode  \
0         1        C001       P001       1.0       249.99  Credit Card
1         2        C002       P005       2.0        99.98   Debit Card
2         3        C003       P012       1.0       349.99  Net Banking
3         4        C004       P003       3.0       239.97         Cash
4         5        C005       P007       1.0      1099.99  Credit Card

           order_date order_status
0 2024-08-23 10:00:00    Delivered
1 2024-08-23 11:00:00      Shipped
2 2024-08-23 12:00:00   Processing
3 2024-08-23 09:45:00    Delivered
4 2024-08-22 16:30:00      Shipped